.title{
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  background-color: #cee40c;
  box-shadow: 6px 2px 10px rgba(231, 227, 4, 0.925);
  color: #120fee;

}
.description{
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  background-color: #1ac00b;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.calculator{
  border : 1px solid #ccc;
  width: 200px;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(57, 231, 4, 0.863);
  background-color: #f3e307;
}

 